body {
    margin: 5px;
    height: 100vh;
    width: 100vw;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title{
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    }

.heroPage{
    background-image: url("../images/Splash2.png");
    background-repeat: no-repeat;
    background-size: cover;   
}
.heroslogan {
    Background-image: url("../images/Logo_antsis-outline@2x.png");
    height: 10%;
    width: 10%;
}
.button-nav {
    padding: 40px 40px;
    margin: 100px;
        }
  .left {
      position: aboslute;
      right: 0px;
      width: 300px;
  }
.button-nav {
    border-bottom: 1px solid rgb(241, 236, 236);
    inline-size: 100px;
    height: 40px;
     
} 
.button-nav:hover {
    background-color: rgb(102, 168, 223);
    color: white
}


   